
//This impoart let's us use variables that we want for global use
@import '../../utilities/variables.scss';

.back-button {
    margin-top: 10px;
    background-color: #F2C94C;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;

}
