.setup2{
  margin:10%;
margin-top:20%;


  button {
  margin-top: 10px;
    background-color: #F2C94C;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;

  }

  input[type=text] {
  width: 100%;
    padding: 12px 20px;
    margin: 11px 0 20px;
    box-sizing: border-box;
    border:1px solid grey;
}

img{
 margin-bottom:60px;
 margin-left:10px;
}

form{
  margin-top:40px;
  font-size:20px;
 }

}
