
.login {
  margin:20%;
  margin-top:30%;

  h1 {
    position: absolute;
    width: 198px;
    height: 44px;
    left: 98px;
    top: 170px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #F2F2F2;
  }

  button {
  margin-top: 10px;
    background-color: #F2C94C;
    color: black;
    padding: 10px 80px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;


  }
  p {
    text-align: center
  }

  a{
  font-size: 14px;
  color: #F2C94C;
  text-decoration: none;
  margin: auto;
}
}

.loginContent{
  margin-top:450px;
}

.textbox {
  display: inline;
  margin-left:5px;
}

.error {
  display: inline;
  margin-left:5px;
  border: 1px solid red;
}

.facebookLogin {
  font-weight: light;
}


.earth{
  position: absolute;
width: 175px;
height: 175px;
left: 108px;
top: 246px;
}
