
.schedule {
    margin:10%;
    margin-top:20%;
  h3 {
    // margin-top:50px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 300;
    // font-size: 22px;
    line-height: 38px;

    color: #F2F2F2;
  }

  button {
    align: right;
  }


}

.time {
  color:#F9C926;
}
