
//This impoart let's us use variables that we want for global use
@import '../../utilities/variables.scss';

.wrap {
 padding: 10px;
 background-color: #F2C94C;
 border-radius: 7px;
  box-shadow: 0rem 0 1rem white;
 margin-top: 35px;
}

.timeCard {
  h1 {
  color: #333333;
}
h2 {
  color: white;
  font-weight: 300;
}
p{
  color: #333333;
}

}
