// $primary-color: black;


h1 {
  color: white;
}

body {
  background-image: url('../../public/background.svg');
  text-align: left;
  margin: auto;
  // background-color:white;
  font-family: Barlow, Times, serif;
  color: #F2F2F2;
}



